@import 'base/color';
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
}

ul,
ol,li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover{
  text-decoration: underline;
}

.menuList {
  width: auto;
  overflow: hidden;
  padding: 20px;
  font-size: 16px;
  text-align: center;
  background: $color;
  li {
    display: inline;
    padding: 0 10px;
    a {
      color: $font;
    }
  }
}

.content{
  width: 1200px;
  margin: 0 auto;
  .article_list{
    width: auto;
    overflow: hidden;
    padding: 20px 0;
    font-size: 14px;
    line-height: 25px;
  }
}
